<h3>{{ _('TTNovember') }}</h3>

<h4>{{ _('The snappy web interface for your 3D printer') }}</h4>

<p>Version <span class="version">{{ display_version }}</span></p>

<ul>
    <li>Website: <a href="http://thingnthinks.co.kr" target="_blank" rel="noreferrer noopener">Thing & Thinks</a></li>
</ul>

<p>
    &copy; 2017-{{ now.strftime("%Y") }}
</p>


<p><small>
    "TTNovember" is a registered trademark.
</small></p>
